@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
/* main.css */
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'react-toastify/dist/ReactToastify.css';


:root {
    --primary: #09A7B2;
    --body-bg: #fafbfe;
    --black: #000000;
    --white: #ffffff;
    --shadow: 0px 0px 5px 0px rgba(154, 161, 171, 0.5);
    --font-family: "Fira Sans", sans-serif;
    --bs-border-color-translucent: rgba(0, 0, 0, 0);
}

body {
    background-color: var(--body-bg);
    max-height: 100vh;
    font-family: var(--font-family);
    font-size: 0.75rem !important;
    line-height: 1.5 !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.85) !important;
}

a:hover {
    color: var(--primary) !important;
}


.fs-1 {
    font-size: 4.768371582rem !important;
}

.fs-2 {
    font-size: 3.8146972656rem !important;
}

.fs-3 {
    font-size: 3.0517578125rem !important;
}

.fs-4 {
    font-size: 2.44140625rem !important;
}

.fs-5 {
    font-size: 1.953125rem !important;
}

.fs-6 {
    font-size: 1.5625rem !important;
}

.fs-7 {
    font-size: 1.25rem !important;
}

.fs-8 {
    font-size: 1rem !important;
}

.fs-9 {
    font-size: 0.8rem !important;
}

.fs-10 {
    font-size: 0.64rem !important;
}

.fs-11 {
    font-size: 0.512rem !important;
}

.card {
    /* -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadowadow); */
    border-color: var(--bs-border-color-translucent);
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.card-header {
    background-color: transparent !important;
    border: 0px !important;
}

.navbar {
    box-shadow: var(--shadow);
}

.btn {
    --btn-color: #31374a;
    --btn-bg: #fff;
    border-color: #d9d9d9;
    background-color: var(--btn-bg);
    color: var(--btn-color);

}

.btn.btn-primary {
    color: #fff;
    border-color: #09A7B2;
    background-color: var(--primary) !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn.btn-lg {
    height: 45px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    outline: 0;
    color: #fff;
    border-color: #59c8c9;
    background: #59c8c9;
}


.welcomeText {
    font-size: .95rem;
    font-weight: normal;
    line-height: 1.7;
}

.form-control {
    min-height: 45px;
    border-radius: 15px;
}

.legalistas-icon-top {
    position: absolute;
    height: 20%;
    left: 35px;
    top: 3vh;
    opacity: 0.2;
    z-index: 0;
}

.legalistas-icon-bottom {
    position: absolute;
    height: 60%;
    right: 5vw;
    bottom: 0;
    opacity: 0.1;
    z-index: 0;

}